#burgerForm {
  max-width: 400px;
  margin: 0 auto !important;
}

.formValidate {
  color: red !important;
  font-size: 0.8rem;
  margin-bottom: 0 !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 15px !important;
  color: #222;
  padding: 5px 10px !important;
  border-left: 4px solid #fcba03;
}

input,
select {
  padding: 5px 10px !important;
  width: 300px !important;
  height: 28px !important;
  font-size: 0.8rem !important;
}

.inputError {
  border: 1px solid #ff2727;
  background-color: #ff4646;
  color: #ffffff !important;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.inputError::placeholder {
  color: #ffffff;
}

.inputError:focus {
  outline: 0 !important;
}

#opcionaisContainer {
  flex-direction: row;
  flex-wrap: wrap;
}

#opcionaisTitle {
  width: 100%;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.checkboxContainer span,
.checkboxContainer input {
  width: auto !important;
}

.checkboxContainer input {
  margin-top: -3px;
}

.checkboxContainer span {
  margin-left: 6px;
  font-weight: bold;
}

.submitBtn {
  margin: 0 auto;
  background-color: #222;
  color: #fcba03;
  font-weight: bold;
  height: 50px !important;
  padding: 0 10px !important;
  border: 2px solid #222;
  font-size: 16px !important;
  cursor: pointer !important;
  transition: 0.5s;
}

.submitBtn:hover {
  background-color: transparent;
  color: #222;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
