.burgerTable {
  padding-top: 2rem !important;
}

.burgerTable p,
.burgerTable ul,
.burgerTable select {
  margin: 1rem 0 !important;
  font-size: 0.8rem !important;
}

.burgerTable ul {
  list-style: none !important;
}

.actions {
  width: 20% !important;
}

.burgerTable select,
.burgerTable button {
  width: 60% !important;
  height: 2rem !important;
  font-size: 0.7rem !important;
}

.burgerTable button {
  margin: 1rem 0 !important;
  border: 1px solid #000 !important;
  background-color: #222222;
  color: #fcac1b;
  transition: 0.5s;
}

.burgerTable button:hover {
  color: #ffffff;
}
