.create,
.error,
.updated {
  border-radius: 5px;
  padding: 10px !important;
  max-width: 400px;
  margin: 30px auto;
  position: fixed !important;
  top: 0.7rem;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: test 0.8s;
}

.create {
  color: #004085;
  background-color: #cce5ff;
  border: 2px solid #b8daff;
}

.error {
  color: #ffffff;
  background-color: #ff7373;
  border: 2px solid #ff6868;
}

.updated {
  color: #000000;
  background-color: #fcac1b;
  border: 2px solid #febc1b;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes test {
  from {
    top: -5rem;
    left: 50%;
  }
  to {
    top: 0.7rem;
    left: 50%;
  }
}
